@import url('https://raw.githubusercontent.com/EduardoFSilva/TemaDiscord/master/transparency.css');

@font-face {
    font-family: "Nasalization RG"
    src: url('https://raw.githubusercontent.com/EduardoFSilva/TemaDiscord/master/nasalization-rg.ttf') format("truetype");
}

@font-face {
  font-family: "Hemi Head RG"
  src: url('https://raw.githubusercontent.com/EduardoFSilva/TemaDiscord/master/nasalization-rg.ttf') format("truetype");
}
